<% provide(:title, 'Contributors') %>

<div class="col-md-12">
  <%= markdown File.open(Rails.root + "public/contributors.md", 'r').read %>

  <div class="list-group">
    <div class="list-group-item">
      <%= User.where(:contributor => true).map{|p| "#{p.name} #{p.last_name}"}.join(", ") %>
    </div>
  </div>

<p><%= image_tag "images/9M.jpg" %></p>
<p><%= image_tag "378M.jpg" %></p>

</div>