<% provide(:title, 'Meta') %>

<h1><%= link_to @trait.trait_name, trait_path(@trait), 'data-no-turbolink' => true %> (ID: <%= @trait.id %>)</h1>

<p>A list of potential database errors for Editors to monitor. Duplicates have the same species, location, resource, trait and value. This does happen, so carefully consider deleting observations.</p>

<%= link_to 'Back', show_meta_path(@trait.id), class: "btn btn-default btn-sm" %>

<h3>Potential duplicate measurements</h3>

<% @measurements = Measurement.where(:trait_id => @trait.id).select(:value, :standard_id).group(:value, :standard_id).having("count(*) > 1") %>
<% puts @measurements.inspect %>

<% if @measurements.any? %>

  <% @measurements.each do |i| %>
    <% @temp = Measurement.where("value = ? AND standard_id = ? AND trait_id = ?", i.value, i.standard_id, @trait.id).joins(:observation).select(:resource_id, :location_id).group(:resource_id, :location_id).having("count(*) > 1") %>

    <% if @temp.any? %>

      <% @temp.each do |j| %>

          <% @observations = Observation.where("resource_id = ? AND location_id = ?", j.resource_id, j.location_id).joins(:measurements).where("value = ? AND standard_id = ? AND trait_id = ?", i.value, i.standard_id, @trait.id) %>
          <%= render "shared/observations" %>
      <% end %>
      <hr>
    <% end %>
  <% end %>

<% else %>
  <span class="label label-success">looking good</span>
<% end %>

    <%# obs = Observation.where(:id => i.id).first %>
    <%# @observations = Observation.joins(:measurements).where("value = ? AND standard_id = ? AND trait_id = ? AND specie_id = ? AND resource_id = ?", i.value, i.standard_id, i.trait_id, obs.specie_id, obs.resource_id) %>
