<% provide(:title, 'Editors') %>

<div class="col-md-12">

  <label class="label label-danger">Under Review</label>

  <%= markdown File.open(Rails.root + "public/editors.md", 'r').read %>

  <div class="row">
    <div class="col col-md-12">
      <div class="list-group">
        <% User.where(:editor => true).each do |ed| %>
          <div class="list-group-item">
            <div class="row">
              <div class="col col-md-2">
                <%= ed.name %> <%= ed.last_name %>
              </div>      
              <div class="col col-md-10">
                <% Trait.where("user_id = ? AND trait_class  NOT LIKE ?", ed.id, "Contextual").each do |tr| %>
                <%= link_to tr.trait_name, trait_path(tr), class: "label label-primary", 'data-no-turbolink' => true %>
              <% end %>
              </div>      
            </div>      
          </div>
        <% end %>
      </div>      
    </div>      
  </div>

</div>