<% provide(:title, 'Procedures') %>

<div class="page-header">
  <h1>Database Procedures</h1>
</div>


<h4>Becoming a contributor</h4>

<p>Anyone is welcome to become a data contributor to the database.  To do so, make an account </p>

<h4>Importing data</h4>


<h4>Adding a species</h4>

<h4>Deleting data</h4>


