<% provide(:title, 'Procedures') %>

<div class="row">
  <div class="col-md-8 col-md-offset-2">

    <% if signed_in? && current_user.contributor? %>
      <label class="label label-danger">Under Review</label>
      <%= markdown File.open(Rails.root + "README.md", 'r').read %>
    <% else %>
      <label class="label label-danger">Under Review</label>
    <% end %>

  </div>
</div>