<% provide(:title, 'Methodologies') %>

<div class="col-md-12">
  <h1>Observations</h1>
	<hr>
</div>

<% if @observations.empty? %>
	<div class="col-md-12">
		<%= render "shared/no_observations" %>
	</div>
<% else %>

	<%= will_paginate @observations, :inner_window => 1, :outer_window => 0 %>
	<%= render "shared/observations" %>
	<br>
	<%= will_paginate @observations, :inner_window => 1, :outer_window => 0 %>

<% end %>

<!-- <p>Download observation list as a <%#= link_to "csv", observations_path(format: "csv", page: (params[:page] || 1), search: params[:search], all: params[:all]) %>.</p> -->
