<div class="row">
	<div class="col-md-8 col-md-offset-2">

    <h1>New observation</h1>

    <p><label class="label label-danger">Warning</label> Please ensure that the coral species, location, resource (paper) and trait already exist in the database or you won't be able to find them in the searchable pull-down menus below. If you have multiple observations to enter, consider doing a <%= link_to "bulk import", imports_path %>.</p>

    <%= render 'form' %>

    <%= link_to 'Back', user_path(current_user) %>

	</div>
</div>
