<% provide(:title, 'Password reset') %>
<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<h1>Password reset</h1>

		<%= form_tag password_resets_path, :method => :post do %>
  		<div class="form-group">
		    <%= text_field_tag :email, params[:email], size: 50, placeholder: "Enter your email", class: "form-control"  %>
		  </div>

		  <div class="actions"><%= submit_tag "Send password reset link", class: "btn btn-primary btn-md"%></div>
		<% end %>
	</div>
</div>    