# Ignore bundler config.
/.bundle

/config/deploy/

# Ignore the default SQLite database.
/db/*.sqlite3
/db/*.sqlite3-journal
/db/schema.rb
#/db
/config/local_env.yml
/solr/data/
/solr/default/
/solr/development/
/solr/log/
/solr/pids/
/log/
# Ignore all logfiles and tempfiles.
/log/*.log
/tmp
/public/assets/
/app/assets/images/
/config/local_env.yml
# Ignore other unneeded files.
Gemfile.lock
database.yml
doc/
*.swp
*~
.project
.DS_Store
.idea
.rvmrc
.ruby-*
.secret
notes_josh.md
