# Ignore bundler config.
/.bundle

# Ignore the default SQLite database.
/db/*.sqlite3
/db/*.sqlite3-journal
/db

# Ignore all logfiles and tempfiles.
/log/*.log
/tmp
/public/assets/
/app/assets/images/

# Ignore other unneeded files.
Gemfile.lock
database.yml
doc/
*.swp
*~
.project
.DS_Store
.idea
.rvmrc
.ruby-*
.secret