Welcome <b><%= @user.name %>, </b><br/>

<p>
	Thank you for signing up with Coraltraits.
</p>

<p>
  Regards <br/>
	The Coraltraits Team <br/>
	<a href="http://coraltraits.org">www.coraltraits.org</a>
</p>