<h3>Password Reset Successful</h3>

<p>
  Hi, <br/>
  Congratulations. Your password has been reset successfully. <br/><br/>
  You can now <a href="coraltraits.org/signin">log in </a> with your new password.

</p>

<p>
Regards <br/>
Coraltraits Admin

</p>
