<p>Your password has been reset successfully. You can now <a href="http://coraltraits.org/signin">sign in </a> with your new password.</p>

<p>Regards,</p>
<a href="http://coraltraits.org">coraltraits.org</a>