<p>Someone has requested to reset the password for the Coral Traits Database account with the email address: <%= @user.email %></p>

<p>If you are not aware of this or this is a mistake, please ignore this email. Your password will not be reset.</p>

<p>To reset your password click: <%= edit_password_reset_url(@user.password_reset_token) %></p>

<p>Regards,</p>
<a href="http://coraltraits.org">coraltraits.org</a>