<h1>Password Reset Confirmation</h1>

<p>
  <%= @greeting %>,
  Congratulations. Your password has been reset. <br/><br/>
  You can now <a href="coraltraits.org/signin">log in </a> with your new password.

</p>

<p>
Regards <br/>
Coraltraits Admin

	</p>
