<h3>Upload Approval Request</h3>

<p>
  <%= @greeting %>, 
</p>

<p>
	
A contributor has uploaded new information in the database and is waiting for your approval. <br/><br/>

Please review the changes at <b>/imports/approve </b> and then approve the request.


</p>

<p>
Sent By:
Coraltraits Admin
<a href="coraltraits.org"> coraltraits.org </a>

</p>