<h3>Database Approval Request</h3>

<p>A contributor has uploaded or changed information in the database for which you are an editor. Please review the changes at <a href="http://coraltraits.org/imports/approve">/imports/approve</a> and then approve the request.</p>

<p>Coraltraits Admin
<a href="http://coraltraits.org">coraltraits.org</a>
</p>