<div class="page-header">
  <h1>Approve import observations</h1>
</div>

<% if @observations.empty? %>
  <p class="alert alert-danger">No records available.</p>
<% else %>
  <%= render "shared/observations" %>
<% end %>

