<span class="label label-success" class="label label-success" data-toggle="tooltip" data-placement="top" title="Number of public observations"><span class="glyphicon glyphicon-ok-circle" style="color:white;"></span> <span class="pubcount" data-recordid=<%= recordid %> data-model=<%= model %>><span class="glyphicon glyphicon-refresh spinning"></span></span></span>

<% if signed_in? && current_user.contributor? %>
	<span class="label label-danger" data-toggle="tooltip" data-placement="top" title="Private observations"><span class="glyphicon glyphicon-remove-circle" style="color:white;"></span> <span class="pricount" data-recordid=<%= recordid %> data-model=<%= model %>><span class="glyphicon glyphicon-refresh spinning"></span></span></span>
<% end %>