<div class="row">
  <div class="col-sm-12 col-sm-offset-6">
		<%= submit_tag "Download", class: "btn btn-success btn-md" %><br>
		<small>
			<input type="checkbox", name="taxonomy" /> Include taxonomic detail?<br>
			<input type="checkbox", name="contextual", checked /> Include contexual data?<br>
			<% if not @locations %>
				<input type="checkbox", name="global" /> Global estimates only?<br>
			<% end %>
		</small>
	</div>
</div>
