<div class="well">
  <span class="glyphicon glyphicon-ok-circle" style="color:green;"></span> Public<br/>
  <span class="glyphicon glyphicon-remove-circle" style="color:red;"></span> Not public<br/>
	<span class="glyphicon glyphicon-globe"></span> Global estimate<br/>
	<span class="glyphicon glyphicon-map-marker"></span> Location specific<br/>
	<span class="glyphicon glyphicon-book"></span> Resource<br/>
	<span class="glyphicon glyphicon-user"></span> Contributor<br/>
	<span class="glyphicon glyphicon-eye-open"></span> Context included<br/>
	<span class="glyphicon glyphicon-asterisk"></span> Pending<br/>
  <span class="glyphicon glyphicon-warning-sign" style="color:red;"></span> Issue reported
</div>
