
<div class="list-group col-md-3">
  <a href="#" class="list-group-item active">
    Upload CSV
  </a>
  <a href="/imports/observations" class="list-group-item">Observations</a>
  <a href="/imports/locations" class="list-group-item">Locations</a>
  <a href="/imports/standards" class="list-group-item">Standards</a>
  <a href="/imports/resources" class="list-group-item">Resources</a>
</div>