
<div class="row">
  <div class="col-md-10 col-md-offset-1">
		<%= render partial: "sidebar" %>
		<br/>
		CoralTraits has now introduced a mechanism to upload large amount of data through csv into the database.
	</div>
</div>