# Your database name here:
SITE_NAME: 'Example Database'
SITE_URL: 'example.org'

# Is your database in beta?
SITE_BETA: 'true'
SITE_DEV: 'true'

# Gmail details here:
GMAIL_USERNAME: 'example@gmail.com'
GMAIL_PASSWORD: 'password'

# Mandrill details here:
# MANDRILL_USERNAME:  'example@gmail.com'
# MANDRILL_PASSWORD:  'password'
# MANDRILL_API_KEY: 'api_key'

