<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<h3>Editing resource</h3>

		<%= render 'form' %>

		<%= link_to 'Show', @resource %> |
		<%= link_to 'Back', resources_path %>

	</div>
</div>



