@import "bootstrap-sprockets";
@import "bootstrap";

body { padding-top: 70px; }

/*body { 
  background: url(/images/outer_reef_2a_fade.JPG) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
*/
.home { 
  background: url(/images/outer_reef_2a.JPG) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0; 
}

:target:before {
  content:"";
  display:block;
  height:60px; /* fixed header height*/
  margin:-60px 0 0; /* negative fixed header height */
}

.pagination {
  margin: 0px !important; 
}

.pagination,  .pagination a {
//  margin: 0px !important; 
//  border: none !important; 
//  padding-top: 5px !important; 
//  padding-bottom: 5px !important; 
//  padding-left: 10px !important; 
//  padding-right: 10px !important; 
}

.red {
  color: red;
}

.orange {
  color: orange;
}

.green {
  color: green;
}

/* links */
a {
  color: #666;
}

/* forms */

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

/* Flexible iFrame */

#map {
  height: 300px;
}


.map-container {
    position: relative;
    padding-bottom: 36.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}
 
.map-container iframe,  
.map-container object, 
.map-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.error_messages {
  color: red;
}

h3.coloured, h4.coloured{
  color: #d9534f;
}

.glyphicon.spinning {
    animation: spin 1s infinite linear;
    -webkit-animation: spin2 1s infinite linear;
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg); }
    to { transform: scale(1) rotate(360deg); }
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}