@import "bootstrap-sprockets";
@import "bootstrap";

.pagination {
  margin: 0px !important; 
}

.top-buffer { 
  margin-top:5px; 
}

.red {
  color: red;
}

.orange {
  color: orange;
}

.green {
  color: green;
}

/* links */
a {
  color: #666;
}

/* forms */

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

/* Flexible iFrame */

.map-container {
    position: relative;
    padding-bottom: 36.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}
 
.map-container iframe,  
.map-container object, 
.map-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.error_messages {
  color: red;
}

h3.coloured, h4.coloured{
  color: #d9534f;
}
