<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<h3>Editing location</h3>

		<%= render 'form' %>

		<%= link_to 'Show', @location %> |
		<%= link_to 'Back', locations_path %>
	</div>
</div>